<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{layout/plantillaDashboard :: cabecera}">
    </head>
    <body class="nav-fixed">
        <nav th:replace="~{layout/plantillaDashboard :: panelSuperior}">    
        </nav>

        <!-- Modales de clientes -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizaion del empleado</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="tablaCLiente" >
                            <div class="mb-2 flex-grow-1 d-flex justify-content-between gap-2">
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="ClienteNom">
                                    Primer nombre</label>
                                    <input class="form-control " id="ClienteNom" type="text">
                                </div>
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="ClienteNom2">
                                        Segundo nombre</label>
                                    <input class="form-control " id="ClienteNom2" type="text">
                                </div>
                            </div>
                            <div class="mb-2 flex-grow-1 d-flex justify-content-between gap-2">
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="ClienteApe">
                                        Apellido paterno</label>
                                    <input class="form-control " id="ClienteApe" type="text">
                                </div>
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="ClienteApe2">
                                        Apellido materno</label>
                                    <input class="form-control " id="ClienteApe2" type="text">
                                </div>
                            </div>
                            <div class="mb-2 flex-grow-1">
                                <label class="col-form-label" style="font-weight: 700;"
                                       for="ClienteCorreo">Correo</label>
                                <input class="form-control " id="ClienteCorreo" type="email">
                            </div>

                            <div class="mb-2 flex-grow-1">
                                <label class="col-form-label" style="font-weight: 700;"
                                       for="ClienteDireccion">Direccion</label>
                                <input class="form-control " id="ClienteDireccion" type="text">
                            </div>

                            <div class="mb-4">
                                <label class="col-form-label" style="font-weight: 700;" for="CLienteTelefono">
                                    Telefono</label>
                                <input class="form-control " id="CLienteTelefono" type="tel">
                            </div>

                            <div class="modal-footer d-flex align-items-center gap-2 p-0 pt-2">
                                <button class="btn btn-warning flex-grow-1 rounded-end-0 m-0" style="font-weight: 700;"
                                        type="reset">Limpiar</button>
                                <button class="btn btn-success flex-grow-1 rounded-start-0 m-0" style="font-weight: 700;"
                                        type="submit">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div id="layoutSidenav">
            <div th:replace="~{layout/plantillaDashboard :: panelLateral}">
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <!-- Main page content-->
                    <div class="row">
                        <div class="col-xxl-12 mt-4">
                            <!-- Tabbed dashboard card example-->
                            <div class="card mb-4">
                                <div class="card-header border-bottom">
                                    <!-- Dashboard card navigation-->
                                    <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                                        <li class="nav-item me-1 a"><a class="nav-link active" id="overview-pill"
                                                                     href="#empleado" data-bs-toggle="tab" role="tab"
                                                                     aria-controls="overview" aria-selected="true">
                                            Clientes</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="dashboardNavContent">
                                        <!-- Dashboard Tab Pane 1-->
                                        <div class="tab-pane fade show active" id="empleado" role="tabpanel"
                                             aria-labelledby="overview-pill">
                                            <div class="card mb-4" >
                                                <div class="table-responsive card-body">
                                                    <table id="tablaEmple" class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Apellido</th>
                                                            <th scope="col">Telefono</th>
                                                            <th scope="col">Direccion</th>
                                                            <th scope="col">Correo</th>
                                                            <th scope="col">Pais</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <th>1</th>
                                                            <td>Marcos Daniel</td>
                                                            <td>Romero Garcia</td>
                                                            <td>967210541</td>
                                                            <td>Comas Lima</td>
                                                            <td>marcos@hotmail.com</td>
                                                            <td>Peru</td>
                                                            <td class="d-flex justify-content-center">
                                                                <button class="btn btn-dark p-1">
                                                                    <i data-bs-toggle="modal"
                                                                       data-bs-target="#exampleModal" class="bi bi-pencil-fill"
                                                                       style="font-size: 1rem"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>                        
                    </div>
                </main>
                
            </div>
        </div>
        <div th:replace="~{layout/plantillaDashboard :: piePagina}">
        </div>
    </body>
</html>
