<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{layout/plantillaDashboard :: cabecera}">
    </head>
    <body class="nav-fixed">
        <nav th:replace="~{layout/plantillaDashboard :: panelSuperior}">    
        </nav>
        <!-- Modales de Venta -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModaAcompras"
          aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel5">Registro de compra</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="tablaCompras" th:action="@{/compras/guardar}" th:object="${cabezeraCompra}"  method="post">
                            <div class="mb-2 flex-grow-1 d-flex justify-content-between gap-2 flex-column">
                                
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="comprasDescrippcion">
                                        Proveedor</label>
                                    
                                    <select class="form-select form-select" th:field="*{proveedorCbzCompra.idProveedor}" name="provedores" id="comprasDescrippcion" required>
                                        <option th:each="provee : ${listarProveedor}" th:value="${provee.idProveedor}" th:text="${provee.nombreProveedor}"></option>
                                    </select>
                                    <!--
                                    <input class="form-control " id="comprasDescrippcion" type="text">
                                    -->
                                    
                                </div>
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="comprasProducto">
                                        Producto</label>
                                    <!--
                                    <input class="form-control " id="comprasProducto" type="text">
                                    -->
                                    <select class="form-select form-select" name="producto" th:field="*{productoCbzCompra.idProducto}" id="comprasProducto" required>
                                        <option th:each="prod: ${listaProductos}" th:value="${prod.idProducto}" th:text="${prod.nombreProducto}" ></option>
                                    </select>
                                </div>

                                <div class="d-flex justify-content-between gap-3">
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="comprasPrecio">
                                            Precio</label>
                                        <input class="form-control" th:field="*{precioCbzCompra}" id="comprasPrecio" type="text">
                                    </div>
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="comprasCantidad">
                                            Cantidad</label>
                                        <input class="form-control" th:field="*{cantidadCbzCompra}" id="comprasCantidad" type="text">
                                    </div>
                                </div>
                                <div class="flex-grow-1 mb-4">
                                    <label class="col-form-label" style="font-weight: 700;" for="comprasTotal">
                                        Precio total</label>
                                    <input class="form-control" th:field="*{totalCbzCompra}" id="comprasTotal" type="text" >
                                </div>
                            </div>

                            <div class="modal-footer d-flex align-items-center gap-2 p-0 pt-2">
                                <button class="btn btn-warning flex-grow-1 rounded-end-0 m-0" style="font-weight: 700;"
                                        type="reset">Limpiar</button>
                                <button class="btn btn-success flex-grow-1 rounded-start-0 m-0" style="font-weight: 700;"
                                        type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalEditarCompras" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel2">Actualizacion de compra</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="AtablaCompras" th:action="@{/compras/editarCompra}" th:object="${cabezeraCompra}"  method="post">
                            <div class="mb-2 flex-grow-1 d-flex justify-content-between gap-2 flex-column">
                                <input type="text" id="idComp" th:field="*{idCbzCompra}">
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="AcomprasDescrip">
                                        Proveedor</label>
                                    <select class="form-select form-select" name="proveedorCbzCompra.idProveedor" id="AcomprasDescrip" required>
                                        <option th:each="provee : ${listarProveedor}" th:value="${provee.idProveedor}" th:text="${provee.nombreProveedor}"></option>
                                    </select>
                                </div>
                                <div class="flex-grow-1">
                                    <label class="col-form-label" style="font-weight: 700;" for="AcomprasProducto">
                                        Producto</label>
                                    <select class="form-select form-select" name="productoCbzCompra.idProducto" id="AcomprasProducto" required>
                                        <option th:each="prod: ${listaProductos}" th:value="${prod.idProducto}" th:text="${prod.nombreProducto}" ></option>
                                    </select>
                                </div>

                                <div class="d-flex justify-content-between gap-3">
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="AcomprasPrecio">
                                            Precio</label>
                                        <input class="form-control " name="precioCbzCompra" id="AcomprasPrecio" type="text">
                                    </div>
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="AcomprasCantidad">
                                            Cantidad</label>
                                        <input class="form-control " name="cantidadCbzCompra" id="AcomprasCantidad" type="text">
                                    </div>
                                </div>
                                <div class="flex-grow-1 mb-4">
                                    <label class="col-form-label" style="font-weight: 700;" for="AcomprasTotal">
                                        Precio total</label>
                                    <input class="form-control " name="totalCbzCompra" id="AcomprasTotal" type="text" >
                                </div>
                            </div>

                            <div class="modal-footer d-flex align-items-center gap-2 p-0 pt-2">
                                <button class="btn btn-warning flex-grow-1 rounded-end-0 m-0" style="font-weight: 700;"
                                        type="reset">Limpiar</button>
                                <button class="btn btn-success flex-grow-1 rounded-start-0 m-0" style="font-weight: 700;"
                                        type="submit">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="layoutSidenav">
            <div th:replace="~{layout/plantillaDashboard :: panelLateral}">
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <!-- Main page content-->
                    <div class="row">
                        <div class="col-xxl-12 mt-4">
                            <!-- Tabbed dashboard card example-->
                            <div class="card mb-4">
                                <div
                                        class="card-header border-bottom d-flex align-items-stretch justify-content-between pb-0">
                                    <!-- Dashboard card navigation-->
                                    <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                                        <li class="nav-item me-1"><a class="nav-link active" id="overview-pill"
                                                                     href="#empleado" data-bs-toggle="tab" role="tab"
                                                                     aria-controls="overview" aria-selected="true">
                                            Compras</a></li>
                                    </ul>
                                    <ul class="mb-0 dropdown">
                                        <button class="btn btn-light border border-1 border-black dropdown-toggle"
                                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-box-arrow-right pe-2"></i>
                                            Exportar</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank" th:href="@{/compras/vista/?format=pdf}">
                                                <i class="bi bi-file-earmark-pdf-fill"></i>
                                                PDF</a></li>
                                            <li><a class="dropdown-item" th:href="@{/compras/vista/?format=xlsx}">
                                                <i class="bi bi-file-earmark-excel-fill"></i>
                                                Excel</a></li>
                                        </ul>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="dashboardNavContent">
                                        <!-- Dashboard Tab Pane 1-->
                                        <div class="tab-pane fade show active" id="empleado" role="tabpanel"
                                             aria-labelledby="overview-pill">
                                            <div class="card mb-4" >
                                                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                        style="font-weight: 700;">Agregar compras</button>
                                                <div class="table-responsive card-body">
                                                    <table id="tablaEmple" class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Proveedor</th>
                                                            <th scope="col">Producto</th>
                                                            <th scope="col">P. compra</th>
                                                            <th scope="col">Cantidad</th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="item: ${listaCompras}">
                                                            <th th:text="${item.idCbzCompra}">1</th>
                                                            <td th:text="${item.proveedorCbzCompra.nombreProveedor}">Romero Garcia</td>
                                                            <td th:text="${item.productoCbzCompra.nombreProducto}">Martillo y clavos</td>
                                                            <td th:text="${item.precioCbzCompra}">Peru</td>
                                                            <td th:text="${item.cantidadCbzCompra}">5</td>
                                                            <td th:text="${item.totalCbzCompra}">S/100.50</td>
                                                            <td>
                                                                <div class="d-flex gap-2">
                                                                    <div>
                                                                        <button class="btn btn-indigo p-1">
                                                                            <i class="bi bi-printer"
                                                                               style="color: white;
                                                                           font-size: 1rem"></i>
                                                                        </button>
                                                                    </div>
                                                                    <a class="btn btn-dark p-1 editarCompras"
                                                                    th:data-id="${item.idCbzCompra}"
                                                                    th:data-proveedor="${item.proveedorCbzCompra.idProveedor}"
                                                                    th:data-producto="${item.productoCbzCompra.idProducto}"
                                                                    th:data-precio="${item.precioCbzCompra}"
                                                                    th:data-cantidad="${item.cantidadCbzCompra}"
                                                                    th:data-total="${item.totalCbzCompra}"
                                                                    >
                                                                        <i class="bi bi-pencil-fill"
                                                                           style="font-size: 1rem"></i>
                                                                    </a>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

            </div>
        </div>
        <div th:replace="~{layout/plantillaDashboard :: piePagina}">
        </div>
</body>
</html>