<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{layout/plantillaDashboard :: cabecera}">
    </head>
    <body class="nav-fixed">
        <nav th:replace="~{layout/plantillaDashboard :: panelSuperior}">    
        </nav>

        <!-- Modales de Venta -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
                <div class="modal-content"  >
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel5">Registro de venta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="tablaVentas" th:action="@{/ventas/guardar}" th:object="${cabezeraVenta}" method="post">
                            <div class="mb-2 flex-grow-1 d-flex justify-content-between gap-2 flex-column">
                                <p class="m-0 fw-bold fs-1 badge bg-primary">Cliente</p>
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="flex-grow-1 border border-2 rounded px-3 py-2 mb-2">
                                        <div class="d-flex gap-3">
                                            <div class="flex-grow-1 w-50">
                                                <label class="col-form-label" style="font-weight: 700;" for="AventasNombre">
                                                    Nombres</label>
                                                <input class="form-control " th:field="*{clienteCbzVenta.nombreCliente}" id="AventasNombre" type="text">
                                            </div>
                                            <div class="flex-grow-1 w-50">
                                                <label class="col-form-label" style="font-weight: 700;" for="AventasApellido">
                                                    Apellidos</label>
                                                <input class="form-control " th:field="*{clienteCbzVenta.apellidoCliente}" id="AventasApellido" type="text">
                                            </div>
                                        </div>

                                        <div>
                                            <label class="col-form-label" style="font-weight: 700;" for="AventasCorreo">
                                                Correo</label>
                                            <input class="form-control " th:field="*{clienteCbzVenta.correoCliente}" id="AventasCorreo" type="text">
                                        </div>

                                        <div>
                                            <label class="col-form-label" style="font-weight: 700;" for="AventasDireccion">
                                                Direccion</label>
                                            <input class="form-control " th:field="*{clienteCbzVenta.direccionCliente}" id="AventasDireccion" type="text">
                                        </div>

                                        <div class="d-flex gap-3 pb-3">
                                            <div class="w-50 flex-grow-1">
                                                <label class="col-form-label" style="font-weight: 700;" for="AventasTelefono">
                                                    Telefono</label>
                                                <input class="form-control " th:field="*{clienteCbzVenta.telefonoCliente}" id="AventasTelefono" type="text">
                                            </div>

                                            <div class="w-50 flex-grow-1">
                                                <label class="col-form-label" style="font-weight: 700;" for="AventasPais">
                                                    Pais</label>
                                                <input class="form-control " th:field="*{clienteCbzVenta.paisCliente}" id="AventasPais" type="text">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="AventasEmpleado">
                                            Empleado</label>
                                        <select class="form-control " th:field="*{empleadoCbzVenta.idEmpleado}" id="AventasEmpleado" type="text">
                                            <option th:each="empl : ${listaEmpleado}" th:value="${empl.idEmpleado}" th:text="${empl.primerNombreEmpleado}+ ' ' + ${empl.apellidoPaternoEmpleado}" >Elige el empleado</option>
                                        </select>
                                    </div>
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="AventasProducto">
                                            Producto</label>
                                        <select class="form-control " th:field="*{productoCbzVenta.idProducto}" id="AventasProducto" type="text">
                                            <option th:each="prod : ${listaProducto}" th:value="${prod.idProducto}" th:text="${prod.nombreProducto}" >Elige el producto</option>
                                        </select>
                                    </div>

                                    <div class="d-flex justify-content-between gap-3">
                                        <div class="flex-grow-1">
                                            <label class="col-form-label" style="font-weight: 700;" for="AventasPrecio">
                                                Precio</label>
                                            <input class="form-control " th:field="*{precioCbzVenta}" id="AventasPrecio" type="text">
                                        </div>
                                        <div class="flex-grow-1">
                                            <label class="col-form-label" style="font-weight: 700;" for="AventasCantidad">
                                                Cantidad</label>
                                            <input class="form-control" th:field="*{cantidadCbzVenta}" id="AventasCantidad" type="text">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 mb-4">
                                        <label class="col-form-label" style="font-weight: 700;" for="AventasTotal">
                                            Precio total</label>
                                        <input class="form-control" th:field="*{totalCbzVenta}" id="AventasTotal" type="text" >
                                    </div>
                                </div>
                                </div>


                            <div class="modal-footer d-flex align-items-center gap-2 p-0 pt-2">
                                <button class="btn btn-warning flex-grow-1 rounded-end-0 m-0" style="font-weight: 700;"
                                        type="reset">Limpiar</button>
                                <button class="btn btn-success flex-grow-1 rounded-start-0 m-0" style="font-weight: 700;"
                                        type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalEditarVentas" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel2">Actualizacion de venta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="AtablaVentas" th:action="@{/ventas/editarVentas}" th:object="${cabezeraVenta}" method="post">
                            <div class="mb-2 flex-grow-1 d-flex justify-content-between gap-2 flex-column">
                                <!--
                                <p class="m-0 fw-bold fs-1 badge bg-primary">Cliente</p>
                                    <div class="flex-grow-1 border border-2 rounded px-3 py-2 mb-2">
                                        <div class="d-flex gap-3">
                                            <div class="flex-grow-1 w-50">
                                                <label class="col-form-label" style="font-weight: 700;" for="EventasNombre">
                                                    Nombres</label>
                                                <input class="form-control " id="EventasNombre" type="text">
                                            </div>
                                            <div class="flex-grow-1 w-50">
                                                <label class="col-form-label" style="font-weight: 700;" for="EventasApellido">
                                                    Apellidos</label>
                                                <input class="form-control " id="EventasApellido" type="text">
                                            </div>
                                        </div>

                                        <div>
                                            <label class="col-form-label" style="font-weight: 700;" for="EventasCorreo">
                                                Correo</label>
                                            <input class="form-control " id="EventasCorreo" type="text">
                                        </div>

                                        <div>
                                            <label class="col-form-label" style="font-weight: 700;" for="EventasCorreo">
                                                Direccion</label>
                                            <input class="form-control " id="EventasCorreo" type="text">
                                        </div>

                                        <div class="d-flex gap-3 pb-3">
                                            <div class="w-50 flex-grow-1">
                                                <label class="col-form-label" style="font-weight: 700;" for="EventasTelefono">
                                                    Telefono</label>
                                                <input class="form-control " id="EventasTelefono" type="text">
                                            </div>

                                            <div class="w-50 flex-grow-1">
                                                <label class="col-form-label" style="font-weight: 700;" for="EventasPais">
                                                    Pais</label>
                                                <input class="form-control " id="EventasPais" type="text">
                                            </div>
                                        </div>
                                    </div>
                                -->
                                <div class="d-flex flex-column flex-grow-1">
                                    <input type="text" id="idVta" th:field="*{idCbzVenta}">
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="EventasCliente">
                                            Cliente</label>
                                        <select class="form-control " name="clienteCbzVenta.idCliente" id="EventasCliente" type="text">
                                            <option selected>Elige el Cliente</option>
                                            <option th:each="cli : ${listaCliente}" th:value="${cli.idCliente}" th:text="${cli.nombreCliente}+ ' ' + ${cli.apellidoCliente}" >Elige el cliente</option>
                                        </select>
                                    </div>
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="EventasDescrippcion">
                                            Empleado</label>
                                        <select class="form-control " name="empleadoCbzVenta.idEmpleado" id="EventasDescrippcion" type="text">
                                            <option selected>Elige el empleado</option>
                                            <option th:each="empl : ${listaEmpleado}" th:value="${empl.idEmpleado}" th:text="${empl.primerNombreEmpleado}+ ' ' + ${empl.apellidoPaternoEmpleado}" >
                                        </select>
                                    </div>
                                    <div class="flex-grow-1">
                                        <label class="col-form-label" style="font-weight: 700;" for="EventasProducto">
                                            Producto</label>
                                        <select class="form-control " name="productoCbzVenta.idProducto" id="EventasProducto" type="text">
                                            <option selected>Elige el producto</option>
                                            <option th:each="prod : ${listaProducto}" th:value="${prod.idProducto}" th:text="${prod.nombreProducto}">One</option>
                                        </select>
                                    </div>

                                    <div class="d-flex justify-content-between gap-3">
                                        <div class="flex-grow-1">
                                            <label class="col-form-label" style="font-weight: 700;" for="EventasPrecio">
                                                Precio</label>
                                            <input class="form-control " name="precioCbzVenta" id="EventasPrecio" type="text">
                                        </div>
                                        <div class="flex-grow-1">
                                            <label class="col-form-label" style="font-weight: 700;" for="EventasCantidad">
                                                Cantidad</label>
                                            <input class="form-control " name="cantidadCbzVenta" id="EventasCantidad" type="text">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 mb-4">
                                        <label class="col-form-label" style="font-weight: 700;" for="EventasTotal">
                                            Precio total</label>
                                        <input class="form-control " name="totalCbzVenta" id="EventasTotal" type="text" >
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer d-flex align-items-center gap-2 p-0 pt-2">
                                <button class="btn btn-warning flex-grow-1 rounded-end-0 m-0" style="font-weight: 700;"
                                        type="reset">Limpiar</button>
                                <button class="btn btn-success flex-grow-1 rounded-start-0 m-0" style="font-weight: 700;"
                                        type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="layoutSidenav">
            <div th:replace="~{layout/plantillaDashboard :: panelLateral}">
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <!-- Main page content-->
                    <div class="row">
                        <div class="col-xxl-12 mt-4">
                            <!-- Tabbed dashboard card example-->
                            <div class="card mb-4">
                                <div
                                        class="card-header border-bottom d-flex align-items-stretch justify-content-between pb-0">
                                    <!-- Dashboard card navigation-->
                                    <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                                        <li class="nav-item me-1"><a class="nav-link active" id="overview-pill"
                                                                     href="#empleado" data-bs-toggle="tab" role="tab"
                                                                     aria-controls="overview" aria-selected="true">
                                            Ventas</a></li>
                                    </ul>
                                    <ul class="mb-0 dropdown">
                                        <button class="btn btn-light border border-1 border-black dropdown-toggle"
                                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-box-arrow-right pe-2"></i>
                                            Exportar</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">
                                                <i class="bi bi-file-earmark-pdf-fill"></i>
                                                PDF</a></li>
                                            <li><a class="dropdown-item" href="#">
                                                <i class="bi bi-file-earmark-excel-fill"></i>
                                                Excel</a></li>
                                        </ul>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="dashboardNavContent">
                                        <!-- Dashboard Tab Pane 1-->
                                        <div class="tab-pane fade show active" id="empleado" role="tabpanel"
                                             aria-labelledby="overview-pill">
                                            <div class="card mb-4" >
                                                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                        style="font-weight: 700;">Agregar venta</button>
                                                <div class="table-responsive card-body">
                                                    <table id="tablaEmple" class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Cliente</th>
                                                            <th scope="col">Empleado</th>
                                                            <th scope="col">Producto</th>
                                                            <th scope="col">Precio</th>
                                                            <th scope="col">Cantidad</th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="item: ${listaVentas}">
                                                            <th th:text="${item.idCbzVenta}">1</th>
                                                            <td th:text="${item.clienteCbzVenta.nombreCliente}+' ' +${item.clienteCbzVenta.apellidoCliente}">Marcos Daniel</td>
                                                            <td th:text="${item.empleadoCbzVenta.primerNombreEmpleado}+' '+${item.empleadoCbzVenta.apellidoPaternoEmpleado}">Romero Garcia</td>
                                                            <td th:text="${item.productoCbzVenta.nombreProducto}">Martillo y clavos</td>
                                                            <td th:text="${item.precioCbzVenta}">Peru</td>
                                                            <td th:text="${item.cantidadCbzVenta}">5</td>
                                                            <td th:text="${item.totalCbzVenta}">S/100.50</td>
                                                            <td>
                                                                <div class="d-flex gap-2">
                                                                    <div>
                                                                        <button class="btn btn-indigo p-1">
                                                                            <i class="bi bi-printer"
                                                                               style="color: white;
                                                                   font-size: 1rem"></i>
                                                                        </button>
                                                                    </div>
                                                                    <a class="btn btn-dark p-1 editarVentas"
                                                                    th:data-id="${item.idCbzVenta}"
                                                                    th:data-cliente="${item.clienteCbzVenta.idCliente}"
                                                                    th:data-empleado="${item.empleadoCbzVenta.idEmpleado}"
                                                                    th:data-producto="${item.productoCbzVenta.idProducto}"
                                                                    th:data-precio="${item.precioCbzVenta}"
                                                                    th:data-cantidad="${item.cantidadCbzVenta}"
                                                                    th:data-total="${item.totalCbzVenta}">
                                                                        <i class="bi bi-pencil-fill"
                                                                           style="font-size: 1rem"></i>
                                                                    </a>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>                        
                    </div>
                </main>
                
            </div>
        </div>
        <div th:replace="~{layout/plantillaDashboard :: piePagina}">
        </div>
    </body>
</html>
