<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - SB Admin Pro</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon.png}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div class="d-flex align-items-center" id="layoutAuthentication_content">
                
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                      <div class="col col-xl-9">
                        <div class="card" style="border-radius: 1rem;">
                          <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                              <img th:src="@{/assets/img/Portada_Log.webp}"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                              <div class="card-body p-4 p-lg-5 text-black">
                
                                <form th:action="@{/login/}" method="post">                
                                  <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fa-solid fa-screwdriver-wrench fa-2x" style="color: #fd0303;"></i>
                                    <span class="h1 fw-bold mb-0" style="font-size: 40px;"><b>Fercejor Store</b></span>
                                  </div>
                
                                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesión en su cuenta</h5>
                
                                  <div class="form-outline mb-4">
                                    <input type="text" id="username" name="username" class="form-control form-control-lg" />
                                    <label class="form-label" for="username">Usuario</label>
                                  </div>
                
                                  <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Contraseña</label>
                                  </div>
                
                                  <div class="pt-1 mb-4 ">
                                    <button class="btn btn-dark btn-lg btn-block" type="submit">Iniciar Sesión</button>
                                  </div>                
                                  <a class="small text-muted" th:href="@{/login/restablecer}">¿Olvidaste tu contraseña?</a>
                                </form>
                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>
